#sideNav {
	.navbar-nav .nav-item .nav-link {
		font-weight: 800;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
	}
}

@include media-breakpoint-up(lg) {
	#sideNav {
		// Control Size of Navbar
		width: $sidebar-width;
		height: 100vh;

		// Controlling inner display of content and spacing.
		display: flex;
		flex-direction: column;

		// Controlling Text Elements
		text-align: center;

		// Describing position. I don't want the nav, while it's in side mode to be teleporting
		// all over the place.
		position: fixed;
		top: 0;
		left: 0;

		.navbar-brand {
			display: flex;

			margin: auto auto 0;
			padding: 0.5rem;
			
			.profilePicture {
				max-width:10rem;
				max-height: 10rem;
				border: 0.5rem solid fade-out(white, 0.8);
			}
		}
	}
}