doctype html
html(lang='en')
	head
		title Michael Mesquita - Modern Front-End Developer
		link(href='../scss/styles.scss', rel="stylesheet")
	body
		h1 Hello World

		p This is my first website.

	script(src="../index.js")

