doctype html
html(lang='en')
	head
		title Michael Mesquita - Modern Front-End Developer

		meta(charset="utf-8")
		meta(name='description', content='A web resume built using Pug, Sass, Typescript, and Bootstrap v5. Developed and bundled with Parcel. This website demos fast and agile front end development using modern tools, bringing technologies of the future, today. Kudos to Bootstrap for their amazing front-end development framework and their icons. Inspired by the startboostrap-resume project by StartBootstrap.com.')
		meta(name='author', content='Michael Mesquita A.K.A Midlight25 (mesquitamichael000@gmail.com)')
		meta(name='keywords', content='HTML, HTML5, CSS, SCSS, SASS, JavaScript, TypeScript, Pug, Node.js, Parcel, Front-End Development, Development, Website Development')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		// Importing Fonts from Google Fonts
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&family=Comfortaa:wght@400;500;700&display=swap")

		// Importing main SCSS file, which it's self imports Bootstrap 5 for me to use.
		link(href='./scss/styles.scss', rel="stylesheet")

	// I want this website to have a very "business-card" like feel.
	body#pageTop

		// Navigation - Side-bar nav on desktops, classic navbar on mobile.
		nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top.px-4

			// The brand switches between my Profile Picture and my name, depending on what size the screen is at.
			a.navbar-brand(href='#')
				// My name for small screens with the standard nav-bar.
				span.d-block.d-lg-none(style="font-size:1.5rem;") Michael Mesquita
				// My image for bigger screens with the sidebar.
				span.d-none.d-lg-block
					img#profilePicture.img-fluid.rounded-circle.mx-auto.mb-2(src='./assets/Atlantic-13.jpg', alt='A picture of the dashing and handsome developer in a three-piece suit.')

			button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
				i.navbar-toggler-icon

			// The links for stuff
			#navbarContent.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item
						a.nav-link About
					li.nav-item
						a.nav-link Experience
					li.nav-item
						a.nav-link Education
					li.nav-item
						a.nav-link Skills
					li.nav-item
						a.nav-link Interests


		// Body Content for Resume
		.container-fluid

			// My about page!
			section#about.resume-section
				.resume-section-content
					h1.mb-0 Michael 
						span.text-primary Mesquita
					.subheading.mb-5 Deerfield Beach, FL 33442 &bull; 
						| #[a(href="tel:9545734686") (954) 573-4686] &bull; 
						| #[a(href="mailto:mesquitamichael000@gmail.com").d-none.d-lg-inline mesquitamichael000@gmail.com]
						| #[a(href="mailto:mesquitamichael000@gmail.com").text-primary.d-inline.d-lg-none email me]
					p.lead.mb-5 Developing solutions from the future using agile frameworks and automation to deliver continuous and rapid development that stops for nobody. 
						| Let's think collaboratively and work together to make technology seem like magic.
					.social_icons
						a.social_icon(href="#")
							i.bi.bi-linkedin(alt="LinkedIn")
						a.social_icon(href="#")
							i.bi.bi-github(alt="Github")
						a.social_icon(href="#")
							i.bi.bi-twitter(alt="Twitter")

			hr.m-0

		script(src="./index.js")