// Spacing Variables
$sidebar-width: 17rem;
$spacer: 1rem;

// Edit variables for headers
$headings-font-weight: 700;
$headings-color: #343a40;
$h1-font-size: 6rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
